.p1{
    color: yellowgreen;
}
.p2{
    color: rgb(50, 122, 205);
}
.p3{
    color: rgb(205, 68, 50);
    position: ;
}
a {
    color: white;
    text-decoration: none;
}
.footer{
    background:linear-gradient(rgb(95, 91, 91), rgba(248, 172, 232, 0.144));
    /* background-color: aqua; */
}